<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Itemnametext')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-itemnametext" data-rule="required" class="form-control" name="row[itemnametext]" type="text" value="{$row.itemnametext|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spectext')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-spectext" data-rule="required" class="form-control" name="row[spectext]" type="text" value="{$row.spectext|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Unittext')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-unittext" data-rule="required" class="form-control" name="row[unittext]" type="text" value="{$row.unittext|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Producertext')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-producertext" data-rule="required" class="form-control" name="row[producertext]" type="text" value="{$row.producertext|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pricetext')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pricetext" data-rule="required" class="form-control" name="row[pricetext]" type="text" value="{$row.pricetext|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
